[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
djoser = "*"
djangorestframework = "*"
django-filter = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
psycopg = {extras = ["binary"], version = "*"}
pillow = "*"
drf-nested-routers = "*"

[dev-packages]
model-bakery = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.10"
